body, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 2rem;
}

.work-item {
    margin-bottom: 20px;
}

.work-item img {
    max-width: 100%;
    height: auto;
}
.work-item img:hover {
    filter: brightness(1.2);
}
.work-item-lg img {
    max-width: 200%;
    height: 400px;
    width: 200px;
}
